    <div class='sidebar'>
        <ul>
            <li><a title="Overview" class='sidebar-link' href='/'><img src="/clipboard.png"></img> Schedule</a></li>
            <li><a title="Calendars" class='sidebar-link' href='/calendar.html'><img src="/calendar.png"></img> Calendar</a></li>
            <li><a title="Syllabus" class='sidebar-link' href='/syllabus.html'><img src="/grade.png"></img> Syllabus</a></li>
            <li><a title="Questions" class='sidebar-link' href='/staff-and-help.html'><img src="/communication.png"></img> Questions</a></li>
            <li><a title="Lectures" class='sidebar-link' href='/lectures/lecture1.html'><img src="/presentation.png"></img> Material</a></li>
            <li><a title="Assignments" class='sidebar-link' href='/assignments/pa0.html'><img src="/coding.png"></img> Assignments</a></li>
            <li><a title="Help Hours" class='sidebar-link' href='/help-hours.html'><img src="/helphours.png"></img> Help Hours</a></li>
        </ul>
    </div>
