<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/with-sidebar.css"></link>

    <title>{{ page.title }}</title>
  </head>
  <body>

  <div class='container'>
    {% include sidebar.html %}
    {% if page.url contains "lecture" %}
    {% include lecture-sidebar.html %}
    {% endif %}
    {% if page.url contains "assignments/" %}
    {% include assignment-sidebar.html %}
    {% endif %}
    {% if page.url contains "assignments-drafts/" %}
    {% include drafts-sidebar.html %}
    {% endif %}
    <div class='content'> {{ content }} </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script>
    MathJax.Hub.Config({
      extensions: [
        "MathMenu.js",
        "MathZoom.js",
        "AssistiveMML.js",
        "a11y/accessibility-menu.js"
      ],
      jax: ["input/TeX", "output/CommonHTML"],
      TeX: {
        extensions: [
          "AMSmath.js",
          "AMSsymbols.js",
          "noErrors.js",
          "noUndefined.js",
        ]
      }
    });
  </script>
  </body>
</html>


